= form_with(model: hero, local: true) do |form|
  - if hero.errors.any?
    #error_explanation
      h2
        = pluralize(hero.errors.count, "error")
        | prohibited this hero from being saved:
      ul
        - hero.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :name
    = form.text_field :name, id: :hero_name
  .field
    = form.label :max_fire
    = form.number_field :max_fire, id: :hero_max_fire
  .field
    = form.label :max_earth
    = form.number_field :max_earth, id: :hero_max_earth
  .field
    = form.label :max_water
    = form.text_field :max_water, id: :hero_max_water
  .field
    = form.label :max_wind
    = form.number_field :max_wind, id: :hero_max_wind
  .field
    = form.label :max_atk
    = form.number_field :max_atk, id: :hero_max_atk
  .field
    = form.label :max_lif
    = form.number_field :max_lif, id: :hero_max_lif
  .field
    = form.label :max_def
    = form.number_field :max_def, id: :hero_max_def
  .field
    = form.label :portarit_pic
    = form.text_field :portarit_pic, id: :hero_portarit_pic
  .field
    = form.label :front_image
    = form.text_field :front_image, id: :hero_front_image
  .field
    = form.label :back_image
    = form.text_field :back_image, id: :hero_back_image
  .actions
    = form.submit
