p#notice= notice
h1 Heros
table
  thead
    tr
      th Name
      th Max fire
      th Max earth
      th Max water
      th Max wind
      th Max atk
      th Max lif
      th Max def
      th Portarit pic
      th Front image
      th Back image
      th colspan: "3" 
  tbody
    - @heros.each do |hero|
      tr
        td= hero.name
        td= hero.max_fire
        td= hero.max_earth
        td= hero.max_water
        td= hero.max_wind
        td= hero.max_atk
        td= hero.max_lif
        td= hero.max_def
        td= hero.portarit_pic
        td= hero.front_image
        td= hero.back_image
        td= link_to 'Show', hero
        td= link_to 'Edit', edit_hero_path(hero)
        td= link_to 'Destroy', hero, method: :delete, data: {confirm: 'Are you sure?'}
br/
= link_to 'New Hero', new_hero_path




def anagrams(word,wordlist)
  words = wordlist.split(',')
  result = []
  word.split('').each do |char|
    words.each do |current_word| 
      result << current_word if word.include?(current_word)
    end
    word = word.chars.rotate.join  
  end  
  result
end
puts anagrams("horse","horse,shore,who,show,heros,gaefa,jggwegw,hhrrs")
puts 'end'