p#notice= notice
p
  strong Name:
  = @hero.name
p
  strong Max fire:
  = @hero.max_fire
p
  strong Max earth:
  = @hero.max_earth
p
  strong Max water:
  = @hero.max_water
p
  strong Max wind:
  = @hero.max_wind
p
  strong Max atk:
  = @hero.max_atk
p
  strong Max lif:
  = @hero.max_lif
p
  strong Max def:
  = @hero.max_def
p
  strong Portarit pic:
  = @hero.portarit_pic
p
  strong Front image:
  = @hero.front_image
p
  strong Back image:
  = @hero.back_image
= link_to 'Edit', edit_hero_path(@hero)
| \
= link_to 'Back', heros_path
