<%= form_with(model: move_set, local: true) do |form| %>
  <% if move_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(move_set.errors.count, "error") %> prohibited this move_set from being saved:</h2>

      <ul>
      <% move_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :move_set_name %>
  </div>

  <div class="field">
    <%= form.label :requirements %>
    <%= form.text_field :requirements, id: :move_set_requirements %>
  </div>

  <div class="field">
    <%= form.label :power %>
    <%= form.text_field :power, id: :move_set_power %>
  </div>

  <div class="field">
    <%= form.label :effects %>
    <%= form.text_field :effects, id: :move_set_effects %>
  </div>

  <div class="field">
    <%= form.label :mana_effects %>
    <%= form.text_field :mana_effects, id: :move_set_mana_effects %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :move_set_image %>
  </div>

  <div class="field">
    <%= form.label :sfx %>
    <%= form.text_field :sfx, id: :move_set_sfx %>
  </div>

  <div class="field">
    <%= form.label :vfx %>
    <%= form.text_field :vfx, id: :move_set_vfx %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
