<p id="notice"><%= notice %></p>

<h1>Move Sets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Requirements</th>
      <th>Power</th>
      <th>Effects</th>
      <th>Mana effects</th>
      <th>Image</th>
      <th>Sfx</th>
      <th>Vfx</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @move_sets.each do |move_set| %>
      <tr>
        <td><%= move_set.name %></td>
        <td><%= move_set.requirements %></td>
        <td><%= move_set.power %></td>
        <td><%= move_set.effects %></td>
        <td><%= move_set.mana_effects %></td>
        <td><%= move_set.image %></td>
        <td><%= move_set.sfx %></td>
        <td><%= move_set.vfx %></td>
        <td><%= link_to 'Show', move_set %></td>
        <td><%= link_to 'Edit', edit_move_set_path(move_set) %></td>
        <td><%= link_to 'Destroy', move_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Move Set', new_move_set_path %>
