<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @move_set.name %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @move_set.requirements %>
</p>

<p>
  <strong>Power:</strong>
  <%= @move_set.power %>
</p>

<p>
  <strong>Effects:</strong>
  <%= @move_set.effects %>
</p>

<p>
  <strong>Mana effects:</strong>
  <%= @move_set.mana_effects %>
</p>

<p>
  <strong>Image:</strong>
  <%= @move_set.image %>
</p>

<p>
  <strong>Sfx:</strong>
  <%= @move_set.sfx %>
</p>

<p>
  <strong>Vfx:</strong>
  <%= @move_set.vfx %>
</p>

<%= link_to 'Edit', edit_move_set_path(@move_set) %> |
<%= link_to 'Back', move_sets_path %>
