= form_with(model: battle_log, local: true) do |form|
  - if battle_log.errors.any?
    #error_explanation
      h2
        = pluralize(battle_log.errors.count, "error")
        | prohibited this battle_log from being saved:
      ul
        - battle_log.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :battle_id
    = form.text_field :battle_id, id: :battle_log_battle_id
  .field
    = form.label :action
    = form.text_field :action, id: :battle_log_action
  .field
    = form.label :player_hero_atk
    = form.text_field :player_hero_atk, id: :battle_log_player_hero_atk
  .field
    = form.label :player_hero_def
    = form.text_field :player_hero_def, id: :battle_log_player_hero_def
  .field
    = form.label :result
    = form.text_field :result, id: :battle_log_result
  .actions
    = form.submit
