p#notice= notice
h1 Battles
table
  thead
    tr
      th #
      th Challanger
      th Challanged
      th Hero Challenger
      th Hero Challanged
      th Max atk
      th Max lif
      th Max def
      th Portarit pic
      th Front image
      th Back image
      th colspan: "3" 
  tbody
    - @battles.each do |b|
      tr
        td= b.id
        td
            a 
                b.player_challenger
        td= hero.max_earth
        td= hero.max_water
        td= hero.max_wind
        td= hero.max_atk
        td= hero.max_lif
        td= hero.max_def
        td= hero.portarit_pic
        td= hero.front_image
        td= hero.back_image
        td= link_to 'Show', hero
        td= link_to 'Edit', edit_hero_path(hero)
        td= link_to 'Destroy', hero, method: :delete, data: {confirm: 'Are you sure?'}
br/
= link_to 'New Hero', new_hero_path

