p#notice= notice
p
  strong Battle:
  = @battle_log.battle
p
  strong Action:
  = @battle_log.action
p
  strong Player hero atk:
  = @battle_log.player_hero_atk
p
  strong Player hero def:
  = @battle_log.player_hero_def
p
  strong Result:
  = @battle_log.result
= link_to 'Edit', edit_battle_log_path(@battle_log)
| \
= link_to 'Back', battle_logs_path
