= form_with(model: player_hero, local: true) do |form|
  - if player_hero.errors.any?
    #error_explanation
      h2
        = pluralize(player_hero.errors.count, "error")
        | prohibited this player_hero from being saved:
      ul
        - player_hero.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :player_id
    = form.text_field :player_id, id: :player_hero_player_id
  .field
    = form.label :bat_fire
    = form.number_field :bat_fire, id: :player_hero_bat_fire
  .field
    = form.label :bat_earth
    = form.number_field :bat_earth, id: :player_hero_bat_earth
  .field
    = form.label :bat_water
    = form.text_field :bat_water, id: :player_hero_bat_water
  .field
    = form.label :bat_wind
    = form.number_field :bat_wind, id: :player_hero_bat_wind
  .field
    = form.label :atk
    = form.number_field :atk, id: :player_hero_atk
  .field
    = form.label :life
    = form.number_field :life, id: :player_hero_life
  .field
    = form.label :def
    = form.number_field :def, id: :player_hero_def
  .actions
    = form.submit
