p#notice= notice
h1 Player Heros
table
  thead
    tr
      th Player
      th Bat fire
      th Bat earth
      th Bat water
      th Bat wind
      th Atk
      th Life
      th Def
      th colspan: "3" 
  tbody
    - @player_heros.each do |player_hero|
      tr
        td= player_hero.player
        td= player_hero.bat_fire
        td= player_hero.bat_earth
        td= player_hero.bat_water
        td= player_hero.bat_wind
        td= player_hero.atk
        td= player_hero.life
        td= player_hero.def
        td= link_to 'Show', player_hero
        td= link_to 'Edit', edit_player_hero_path(player_hero)
        td= link_to 'Destroy', player_hero, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Player Hero', new_player_hero_path
