p#notice= notice
p
  strong Player:
  = @player_hero.player
p
  strong Bat fire:
  = @player_hero.bat_fire
p
  strong Bat earth:
  = @player_hero.bat_earth
p
  strong Bat water:
  = @player_hero.bat_water
p
  strong Bat wind:
  = @player_hero.bat_wind
p
  strong Atk:
  = @player_hero.atk
p
  strong Life:
  = @player_hero.life
p
  strong Def:
  = @player_hero.def
= link_to 'Edit', edit_player_hero_path(@player_hero)
| \
= link_to 'Back', player_heros_path
