doctype html
html
  head
    meta content: "text/html; charset=UTF-8" http-equiv="Content-Type" /
    title ArcaneWeb
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
  body
    = yield
